# App
LOG_LEVEL=INFO
OUTPUT_DIR=./output
MONGO_SERVER_SELECTION_TIMEOUT_MS=20000

# -----------------------
# Mongo profiles (multi)
# Use MONGO__<ALIAS>__<FIELD>
# Common fields:
#   TUNNEL=ssh|ssm  (discriminator)
#   DB              (database name)
#   URI             (mongo URI con placeholders {user} y {password})
#   CREDENTIALS_ENV (variable de sistema con user/password)
#   WARMUP_S        (segundos a esperar tras abrir el tunnel; default 1)
#
# SSH-specific:
#   SSH_HOST, SSH_PORT, SSH_USER, SSH_KEY_PATH
#   LOCAL_PORT, REMOTE_HOST, REMOTE_PORT
#
# SSM-specific:
#   AWS_REGION, SSM_TARGET
#   LOCAL_PORT, REMOTE_HOST, REMOTE_PORT
#   SSM_COMMAND (comando completo aws ssm start-session ...)
# -----------------------

# Profile: bnpl (AWS SSM port-forward)
MONGO__bnpl__TUNNEL=ssm
MONGO__bnpl__DB=BNPL
MONGO__bnpl__URI=mongodb://{user}:{password}@localhost:27017/?authSource=admin&directConnection=true&tls=true&tlsCAFile=C:\Users\RussellOthonielQuiro\OneDrive - Rabbit Impulsadora de Mercados\Documents\Conexion_BD_Rabbit\global-bundle.pem&tlsAllowInvalidHostnames=true&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false
MONGO__bnpl__CREDENTIALS_ENV=RIM_FINTECH_BNPL_KEY
MONGO__bnpl__WARMUP_S=10
MONGO__bnpl__AWS_REGION=us-east-2
MONGO__bnpl__SSM_TARGET=i-0d9002794c9ad3b62
MONGO__bnpl__LOCAL_PORT=27017
MONGO__bnpl__REMOTE_HOST=tf-rabbit-default-docdb-cluster.cluster-cvmau0vcqoss.us-east-2.docdb.amazonaws.com
MONGO__bnpl__REMOTE_PORT=27017
MONGO__bnpl__SSM_COMMAND=aws ssm start-session --region "us-east-2" --target "i-0d9002794c9ad3b62" --document-name AWS-StartPortForwardingSessionToRemoteHost --parameters host="tf-rmp-production-docdb-cluster.cluster-cvmau0vcqoss.us-east-2.docdb.amazonaws.com",portNumber="27017",localPortNumber="27017"

# Profile: tx (SSH tunnel)
MONGO__tx__TUNNEL=ssh
MONGO__tx__DB=transactions
MONGO__tx__URI=mongodb://{user}:{password}@localhost:27018/?authSource=admin&readPreference=primary&retryWrites=false&directConnection=true&ssl=false
MONGO__tx__CREDENTIALS_ENV=RIM_FINTECH_BNPL_KEY
MONGO__tx__WARMUP_S=1
MONGO__tx__SSH_HOST=jump-host-server-rds.rabbitmx.com
MONGO__tx__SSH_PORT=22
MONGO__tx__SSH_USER=ec2-user
MONGO__tx__SSH_KEY_PATH=C:/Users/RussellOthonielQuiro/OneDrive - Rabbit Impulsadora de Mercados/Documents/Conexion_BD_Rabbit/jump-host-server-rds-key.pem
MONGO__tx__LOCAL_PORT=27018
MONGO__tx__REMOTE_HOST=tf-rabbit-default-docdb-cluster.cluster-cfhp8sfmjchy.us-east-2.docdb.amazonaws.com
MONGO__tx__REMOTE_PORT=27017
